@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    /* border: 1px solid purple; */
    display: flex;
    height:6vw;
    justify-content: center;
    align-items: center;
    background-color: #131516;

}
.header_titulo{
    font-family: 'Mukta Vaani', sans-serif;
    color:#d8d4cf;
    font-size: 80px;
}

.container{
    
    flex-wrap: wrap;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    background-color: #131516;
    gap: 45px;


    flex-direction: row;

}
.imagen{
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;
    
}

.imagen_photo{
    width: 400px;
    height: 600px;;
    
    
}

.boton{
    border: 2px solid #d8d4cf ;
    border-radius: 4px;
    padding: 14px;
    font-size: 18px;
    width: 25%;
    height: 8%;
    background-color: transparent;
}
.enlace{
    text-decoration: none;
    color: grey;
    font-family: 'Mukta Vaani', sans-serif;

}